/* Custom Styles */
body {
  margin: 20px;
  width: 50%;
}

.well {
  min-height: 20px;
  padding: 15px;
  padding-top: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.heading {
  color: #666;
  font-size: 26px;
}

.pull-right {
  text-align: right;
}

.ng-hide { 
  display:none!important; 
}

.cloud {
  width: 180%;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.tooltip {
  padding: 2px;
  font-size: 12px;
  color: #666;
  background-color: #e3e3e3;
  width: 50px;
  border-radius: 2px;
}