<!DOCTYPE html>
<html ng-app="StackoverflowHistory" ng-csp="">
  <head>
    <title>Stackoverflow History</title>
    <link rel="stylesheet" media="all" href="css/bootstrap-chrome.css">
    <link rel="stylesheet" media="all" href="css/styles.css">
    <base target="_blank"><!-- open all links in new tabs-->
  </head>

  <body ng-controller="PageController">
    <div class="chrome-bootstrap">
      <span class="heading">stack<strong>overflow</strong> history</span>

      <!-- selection menu -->
      <div class="pull-right">
        <select ng-model="view">
          <option value="history">Browse History</option>
          <option value="cloud">Visualize Tags</option>
        </select>
      </div>

      <!-- history view -->
      <div ng-show="view == 'history'">
        <p class="pull-right">
          Search by Tag or Keyword: <input type="text" ng-model="keyword">
          <!--<input type="hidden" ng-model="tag">-->
        </p>

        <ul class="menu">
          <li class="well" ng-repeat="question in questions | orderBy:'time':true | filter:keyword">
            <h3><a ng-href="{{question.url}}">{{question.title}}</a></h3>
            <p class="date">Last Visit: {{question.time | date : 'medium'}}</p>
            <p>Tags: 
              <button ng-repeat="tag in question.tags" ng-click="search(tag)">
                {{tag}}
              </button>
            </p>
          </li>
        </ul>
      </div>

      <!-- cloud view -->
      <div ng-show="view == 'cloud'" ng-controller="WordCloudController">
        <word-cloud words="tags"></word-cloud>
      </div>
  	</div>

    <script src="js/angular.min.js"></script>
    <script src='js/app.js'></script>
    <script src='js/constants.js'></script>
    <script src="js/d3.min.js"></script>
    <script src="js/d3.layout.cloud.js"></script>
  </body>
</html>